
*{
    margin: 0;
    padding: 0;
    user-select: none;
}

#sidebar {
    position: fixed;
    width: 180px;
    top:0px;
    left: 0;
    height: 100%;
    background-color: black;
}
/* -----Side Menu----- */
#sidebar .text {
    border-bottom:3px solid rgba(255,255,255,0.5);
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 1px;
}
/* ------------------------ */
nav ul {
    background-color:black;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li {
    line-height:44px;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
/* Dash Board btn border left color */
.dashboard-btn {
    display: block;
    width: 95%;
    border-left: 3px solid transparent;
}
.dashboard-btn:hover {
    color:springgreen;
    background-color: #1e1e1e;
    border-left-color: springgreen;
}
/* ----------------------------- */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14 px;
    padding-left:5px;
    font-weight: 500;
    display: block;
    width: 80%;
    border-left: 4px solid transparent;
}
nav ul ul a:hover {
    color:springgreen;
    background-color: #1e1e1e;
    border-left-color: springgreen;
}
nav ul ul li {
    line-height: 35px;
    border-bottom: none;
}
nav ul ul li a {
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 30px;
}
h1 {
    background-color: gray;
    position:relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    word-spacing:0.5em;
}
/* ---------------End SideMenu------------------ */

#page {
    position:initial;
    padding-left: 220px;
}

#references {
    border-top: 2px black;
    margin-bottom: 50px;
}
#references p {
    margin-top: 50px;
    font-size: 30px;
}

/* ----------------------------------------------- */
/* ----------Process diagrams Page.html------------ */
#container .diagram1 {
    position:inherit;
    text-align: center;
    width: 1000px;
    padding-left: 230px;
}
#container p {
    text-align: center;
}
/* -------------------------------------------- */